/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container{
    width: auto;
  }

  .mat-tab-label{
   padding: 0 10px;
   min-width: auto !important;
  }


  .mat-slide-toggle-bar  {
      width: 60px !important;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(40px,0,0) !important;
}
